<a href="https://colab.research.google.com/github/warwickdatascience/beginners-python/blob/master/session_two/session_two_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>Spotted a mistake? Report it <a href="https://github.com/warwickdatascience/beginners-python/issues/new">here</a></center>

# Beginner's Pythonâ€”Session Two Homework Exercises

## User Input

Ask the user for the year, month, and day and use these to print out the date in the following format:

`Your date is 1 January, 1970`

(Hint: if you want to get the comma looking exactly right, you might have to use string addition)

In [1]:
year = input("What is the year? ")
month = input("What is the month? ")
day = input("What is the day? ")
print("Your date is",
     day, month + ",", year)

What is the year? 1970
What is the month? January
What is the day? 1
Your date is 1 January, 1970

Ask the user to input a decimal number (remember you'll need to use `float()` to convert it from a string). Multiply this $5$, subtract $1.2$ and print the result

In [2]:
number = float(input("Input a decimal number: "))
print(5 * number - 1.2)

Input a decimal number: 2.718
12.39

## Variable Types

What happens when you pass a decimal number (such as $3.14$) to `int()`?

In [4]:
print(int(3.14))
print(int(3.99))

3
3

The number is rounded **down** to the integer below it. Note, we can round to the nearest integer using `round()`

The `min()` and `max()` functions are versatile. As well being able to input a list of numbers, you are able to pass multiple inputs to these functions, separated by commas, provided they are all of the same type. For example:

In [12]:
min(2, 5, 1)

1

The versitility doesn't stop there. What happens if we put in two strings as the inputs to either `min()` or `max()`. Experiment and try to find out.

(Hint: Try comparing each pair of `Cat`, `Dog`, and `Donkey`)

In [5]:
print(max("Cat", "Dog"))
print(max("Dog", "Donkey"))
print(max("Cat", "Donkey"))

Dog
Donkey
Donkey

When `max()` or `min()` act on strings, they order items alphabetically. Therefore, `max()` returns the word you'd find last in the dictionary, and `min()` the first

Say you wanted to add the string `"Time is 12:"` to the integer `30` to get the string `"Time is 12:30"`. How can you use type conversion to achieve this?

In [6]:
"Time is 12:" + str(30)

'Time is 12:30'

## Sum, Min, Max and Length

Your teammates are aged 20, 33, 45, 57, and 62. Use `input()` to get Python to ask you your age and then make a list containing the 5 ages above and your age

In [8]:
your_age = int(input("What is your age? "))
team_ages = [20, 33, 45, 57, 62, your_age]

What is your age? 21

Find the average age of your team and print it

(Hint: The average age is the `sum` of all ages divided by the `len`gth of your list of ages)

In [9]:
print("Average team age:", sum(team_ages) / len(team_ages))

Average team age: 39.666666666666664

You could round this to two decimal places using `round(..., 2)`

Run the following lines of code to create two lists containing the scores of 30 students in each class

In [10]:
from random import randrange, seed
seed(1729)
class_A_scores = [randrange(101) for __ in range(30)]
class_B_scores = [randrange(101) for __ in range(30)]

Use `max()` to find which class contained the highest scoring student

In [11]:
print("Best score in class A: ", max(class_A_scores))
print("Best score in class B: ", max(class_B_scores))

Best score in class A:  97
Best score in class B:  92

The top student was in class A with a score of $97$

As mentioned above, you can find the minimum or maximum of a collection of numbers without having to first put them in a list. Use this approach to find the minumum and maximum of the numbers 4, 5, 2, and 8

In [12]:
print("Max:", max(4, 5, 2, 8))
print("Min:", min(4, 5, 2, 8))

Max: 8
Min: 2

Ask the user for two strings and print the length of the shortest

In [14]:
string_1 = input("What is your first string? ")
string_2 = input("What is your second string? ")
print("The shortest string has",
      min(len(string_1), len(string_2)),
      "characters")

What is your first string? A short string
What is your second string? An incredibly, astonishingly, uncommonly, tremendously, long string
The shortest string has 14 characters